.containerUser{
    background-color: #87CEFF;
    width: 100vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.circulo{
    background-color: white;
    width: 10vw;
    height: 20vh;
    border-radius: 30vw;
    margin-left: 20vh;
    margin-right: 30px;
}

.containerAlfabeto{
    width: 100vw;
    height: 69vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alfabeto{
    background-color: #87CEFF;;
    width: 40vw;
    height: 12vh;
    margin-top: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-radius: 30px;
}

.link{
    text-decoration: none;
    color: black;
}

.letras{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    margin-left: 10px;
    
}

.letras>p{
    margin-left: 20px;
    font-size: 1.2rem;
}

.img{
    width: 4vw;
    height: 10vh;
    border-radius: 100px;
}

.coracao{
    width: 30px;
}

.teste1{
    width: 40vw;
    display: absolute;
    margin-top: 20px;
}

.select{
    height: 8vh;
    width: 100%;
    background-color: #87CEFF;
    color: black;
    border: 1px solid black;
    margin-bottom: 20px;
    
}
