.container{
    background-color: #1E90FF;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img{
    width: 5vw;
    margin-left: 100px;
}

.navigate{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: black;
}