.container{
    background-color: #87CEFF;
    width: 100vw;
    height: 100vh;
}


.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.letter{
    width: 50%;
    /* margin-top:10%; */
}

.img{
    width: 40%;
}

.containerResp{
    height: 80vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resposta{
    width: 10vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
}

.none{
    display: none;
}

.containerInpout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
}
.input{
    padding: 10px;
    width: 20vw;
    margin-top: 20px;
}

.button{
    width: 10vw;
    padding: 10px;
    margin-top: 30px;
    justify-content: center;
    background-color: #1E90FF;
    border-style: none;
    cursor: pointer;
}